<div class="StudentLogin">
  <div>
    <app-nav></app-nav>
    <div class="LoginText">
      <span>Login</span>
    </div>
    <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
      <mat-form-field class="full-width">
        <input formControlName="email" matInput placeholder="email">
      </mat-form-field>

      <mat-form-field class="full-width">
        <input formControlName="password" matInput placeholder="password" type="password">
      </mat-form-field>

      <button mat-flat-button color="primary">Login</button>
      <a mat-flat-button type="button" routerLink="/student/reg">Sign Up</a>
    </form>

    <div style="margin-top: 2em;">
      <p>Example student:</p>
      <p>email: any@q.com password: aaaaaa</p>
      <p>email: bold@q.com password: aaaaaa</p>
    </div>
  </div>
</div>
