<div class="Manager">
    <div>
      <app-nav></app-nav>
      <div class="Info">
        <span>Manager</span>
        <a routerLink="/">Back to home</a>
      </div>
      <mat-tab-group>
        <mat-tab label="Activity">
          <mat-card style="margin-top: 1em; position:relative;">
            <a mat-button color="primary" style="position: absolute; top: 0.5em; right: 1em;" routerLink="/activity/add">Add
              Activity</a>
            <mat-card-title style="text-align: center">ACTIVITIES</mat-card-title>
            <mat-card-content>
              <div
                style="width: 100%; margin-top: 1em; display: flex; flex-direction: row; justify-content: space-evenly ">
                <mat-form-field style="width: 33%;">
                  <input matInput placeholder="filter by name" [value]="filter"
                         (input)="onInputFilter($event.target.value)">
                </mat-form-field>
                <mat-form-field style="width: 33%;">
                  <input matInput [matDatepicker]="begin" placeholder="begin time" [value]="beginTime"
                         (input)="onInputBeginTime($event.target.value)"
                         (dateChange)="onInputBeginTime($event.target.value.toString())">
                  <mat-datepicker-toggle matSuffix [for]="begin"></mat-datepicker-toggle>
                  <mat-datepicker #begin></mat-datepicker>
                </mat-form-field>
                <mat-form-field style="width: 33%;">
                  <input matInput [matDatepicker]="end" placeholder="end time" [value]="endTime"
                         (input)="onInputEndTime($event.target.value)"
                         (dateChange)="onInputEndTime($event.target.value.toString())">
                  <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
                  <mat-datepicker #end></mat-datepicker>
                </mat-form-field>
              </div>
  
              <mat-expansion-panel *ngFor="let activity of activities"
                                   class="Option">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{activity.name}}
                  </mat-panel-title>
                </mat-expansion-panel-header>
  
                <p><b>Description: </b>{{activity.description}}</p>
                <p><b>Location: </b>{{activity.location}}</p>
                <p><b>Registration Period: </b>{{activity.period}}</p>
                <p><b>Activity Time: </b>{{activity.datetime}}</p>
                <p><b>Teacher: </b>{{teacherService.findTeacherById(activity.teacherId)!.name}}</p>
  
              </mat-expansion-panel>
            </mat-card-content>
          </mat-card>
        </mat-tab>
        <mat-tab label="Student">
          <mat-card style="margin-top: 1em; position:relative;">
            <mat-card-title style="text-align: center">Unconfirmed Students</mat-card-title>
            <mat-card-content>
              <mat-expansion-panel *ngFor="let student of unconfirmedStudents"
                                   class="Option">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{student.name}} {{student.surname}}
                  </mat-panel-title>
                </mat-expansion-panel-header>
  
                <p><b>id: </b>{{student.id}}</p>
                <p><b>name: </b>{{student.name}}</p>
                <p><b>surname: </b>{{student.name}}</p>
                <p><b>birth: </b>{{student.birth}}</p>
                <p><b>email: </b>{{student.email}}</p>
                <p><b>password: </b>{{student.password}}</p>
  
                <br/>
  
                <section>
                  <mat-slide-toggle
                    [checked]="student.confirmed"
                    (change)="managerService.confirmStudent(student.id)"
                  >
                    {{student.confirmed ? 'confirmed' : "unconfirmed"}}
                  </mat-slide-toggle>
                </section>
  
              </mat-expansion-panel>
            </mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-title style="text-align: center">Confirmed Students</mat-card-title>
            <mat-card-content>
              <mat-expansion-panel *ngFor="let student of confirmedStudents"
                                   class="Option">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{student.name}} {{student.surname}}
                  </mat-panel-title>
                </mat-expansion-panel-header>
  
                <p><b>id: </b>{{student.id}}</p>
                <p><b>name: </b>{{student.name}}</p>
                <p><b>surname: </b>{{student.name}}</p>
                <p><b>birth: </b>{{student.birth}}</p>
                <p><b>email: </b>{{student.email}}</p>
                <p><b>password: </b>{{student.password}}</p>
  
              </mat-expansion-panel>
            </mat-card-content>
          </mat-card>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
