<div class="TeacherLogin">
  <div>
    <app-nav></app-nav>
    <div class="AppName">
      <span>Login as teacher</span>
    </div>
    <div class="SelectRemind">
      <span>Enter by teacher name: </span>
    </div>
    <mat-card class="Option" *ngFor="let t of teacherSrv.teachers">
      <mat-card-content>
        <a [routerLink]="'/teacher/'+t.id" routerLinkActive="active">{{t.name}}</a>
      </mat-card-content>
    </mat-card>

  </div>

</div>
