.AddActivity {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    > div {
      min-width: 500px;
      max-width: 500px;
      margin-bottom: 1em;
  
      .Info {
        padding: 0 0 1em;
        font-size: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
  
        a {
          font-size: 1rem;
        }
      }
  
      .Option {
        margin-top: 1em;
        margin-bottom: 1em;
        width: 100%;
        //background-color: #F4F4F4;
      }
  
  
      .form {
        min-width: 150px;
        max-width: 500px;
        width: 100%;
      }
  
      .full-width {
        width: 100%;
      }
    }
  }
  