.Student{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  >div{
    min-width: 500px;
    max-width: 100%;

    .Info{
      padding: 0 0 1em;
      font-size: 2rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      a{
        font-size: 1rem;
      }
    }

    .Option{
      margin-bottom: 1em;
      //background-color: #F4F4F4;
    }
  }
}
