<div class="Student" >
  <div *ngIf="studentService.loginStudent.confirmed"  >
    <app-nav></app-nav>
    <div class="Info" >
      <span>{{studentService.loginStudent.name}} {{studentService.loginStudent.surname}}</span>
      <a routerLink="/" >Back to home</a>
    </div>
    <div>
      <mat-card class="Option"  >
        <mat-card-content>
          <a routerLink="/student/activity/all" routerLinkActive="active">All Activities</a>
        </mat-card-content>
      </mat-card>
      <mat-card class="Option" >
        <mat-card-content>
          <a routerLink="/student/activity/enrolled" routerLinkActive="active">Enrolled Activities</a>
        </mat-card-content>
      </mat-card>
      <mat-card class="Option" >
        <mat-card-content>
          <a routerLink="/student/activity/confirmed" routerLinkActive="active">Confirmed Activities</a>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div  *ngIf="!studentService.loginStudent.confirmed"  >
    <p>Your account has not been confirmed by the manager.</p>
    <p><a routerLink="/"  >Back to home.</a></p>
  </div>
</div>
